out/*
.ipynb_checkpoints/
simulation
tex-pdf/simulationTheory.aux
tex-pdf/simulationTheory.log
tex-pdf/simulationTheory.pdf
tex-pdf/simulationTheory.synctex.gz
tex-pdf/orbitFractals.aux
tex-pdf/orbitFractals.log
tex-pdf/orbitFractals.pdf
tex-pdf/orbitFractals.synctex.gz
